* {
	color:#000;
}

body{
	background: none repeat scroll 0 0 #fff;
	color:#222;
	margin:0;
}

/* --- TOP NAVIGATION ---*/

.top-nav ul {
	diplay: inline;
	text-align: right;
	margin-right: 20px;
}

.top-nav li {
	display: inline-block;
	margin-right: 20px;
}

.top-nav a {
	color:#222;
	text-decoration: none;
	cursor: pointer;
 }

 .top-nav a:hover {
 	color:#222;
 	text-decoration: underline;
 }

 .top-nav a.button:hover 
  	text-decoration: none;

  }
/*
  /*==================================================
	Top Section - Navigation
==================================================*/
 .top-navigation {
  	float:right;
  	margin-right: 25px;
  }

 .top-navigation li{
 	list-style: none; 
 	display: inline-block;
 	text-align: right;
 	padding:5px 10px 0 0;
 	vertical-align: bottom;
 	margin: 5px 5px 0 0:
 	font-size:13px;
  }

	/*==================================================
	Middle Section - Search Box
	==================================================*/
	/*select any elements with a class of search-box*/
 .search-box {
 	position: absolute;
 	width:70%;
	margin-left: 15%;
 }
 	/*select any elements with a class of search-box and then find any img tags inside*/
 .search-box img {
	padding: 142px 0 24px 0;
	display: block;
	margin: auto;
	cursor: pointer;
 }
 	/*select any elements with a class of search-box and then find any input tags inside*/
 .search-box input{
 	width:400px;
 	margin: auto;
 	padding: 5px;
 	
 	font-size: 16px;
 	border-radius: 5px;
 	display:block;
 	text-align: center;
 }
  	/*select any elements with a class of search-box and then find any input tags inside that are currently focused*/
 


.search-box button {
	margin-top: 20px;
	color: #757575;
	background-color: #F2F2F2;
	border: none;
	height: 30px;
	width: 110px;
	cursor: pointer;
}

.search-box button:first-of-type {
	margin-left: 31%;
	margin-right: 20px;
	cursor: pointer;
}

/* ---- BOTTOM LINKS ----*/

.bottom-site-links {
	bottom: 0;
	position: absolute;
	width: 100%;
	background-color: #f2f2f2;
}

.left-site-links ul {
	display: inline;
}

.left-site-links li {
	display: inline-block;
	float: left;
	padding-left: 20px;
	cursor: pointer;
}

.left-site-links li:first-child {
	margin-left: -20px;
}

.left-site-links a {
	text-decoration: none;
	color: #757575;
	cursor: pointer;
}


.right-site-links ul {
	display: inline;
}

.right-site-links li {
	display: inline-block;
	float: right;
	padding-right: 20px;
	margin-bottom: 15px;
}

.right-site-links a {
	text-decoration: none;
	color: #757575;
	cursor: pointer;
}

/*======================== MEDIA QUERY =============*/

@media (max-width: 490px) {
	.search-box input {
		width: 90%;

	}
}

@media (max-width: 600px) {
	.bottom-site-links ul { 
		width: 100%;
		float: none;
		text-align: center;
		position: static;
	}
}











